[submodule "site-lisp/org-mode"]
	path = site-lisp/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "site-lisp/nxhtml"]
	path = site-lisp/nxhtml
	url = https://github.com/emacsmirror/nxhtml.git
	ignore = dirty
[submodule "site-lisp/python-mode"]
	path = site-lisp/python-mode
	url = https://github.com/emacsmirror/python-mode.git
	ignore = dirty
[submodule "site-lisp/slime"]
	path = site-lisp/slime
	url = https://github.com/emacsmirror/slime.git
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = https://github.com/magit/magit.git
[submodule "site-lisp/tramp"]
	path = site-lisp/tramp
	url = https://github.com/emacsmirror/tramp.git
	ignore = dirty
[submodule "site-lisp/zenburn"]
	path = site-lisp/zenburn
	url = https://github.com/bbatsov/zenburn-emacs.git
