[submodule "site-lisp/zenburn"]
	path = site-lisp/zenburn
	url = https://github.com/dbrock/zenburn-el.git
[submodule "site-lisp/org-mode"]
	path = site-lisp/org-mode
	url = git://orgmode.org/org-mode.git
